@model IEnumerable<PremierLeagueApp.Data.Models.Club>

@{
    ViewBag.Title = "Index";
}

<h3>Teams</h3>

@Html.ActionLink("Track teams", "TrackTeams")

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
    }

</table>
