@model PremierLeagueApp.Web.ViewModels.Home.NewsViewModel
@{
    ViewBag.Title = "ById";
}

<div>
    <h1>
        @Model.Title
    </h1>
</div>
<div>
    <img src="@Url.Content(Model.ImageUrl)" alt="Image" />
</div>
<div>
    <h3>
        @Html.Raw(Model.Content)
    </h3>
</div>
