@model PremierLeagueApp.Web.ViewModels.Home.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h2>
            Latest News
            <form class="form-inline pull-right" id="search" method="get">
                <div class="input-group">
                    <input type="text" class="form-control input-sm" placeholder="Search" maxlength="100" value="">
                    <div class="input-group-btn">
                        <button class="btn btn-default btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                    </div>
                </div>
            </form>

            <div class="dropdown pull-right">
                <a class="btn btn-default btn-sm dropdown-toggle" id="news-order-dropdown" data-toggle="dropdown" aria-expanded="true">
                    News order
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="forum-sub-menu">
                    <li role="presentation">
                        <a class="nonbordered" href="" role="menuitem">Latest</a>
                    </li>
                    <li role="presentation">
                        <a class="nonbordered" href="" role="menuitem">Oldest</a>
                    </li>
                    <li role="presentation">
                        <a class="nonbordered" href="" role="menuitem">Most readed</a>
                    </li>
                    <li role="presentation">
                        <a class="nonbordered" href="" role="menuitem">Most commented</a>
                    </li>
                </ul>
            </div>

            <div class="pull-right">
                <a class="btn btn-default btn-sm" href="/AddNews"><i class="glyphicon glyphicon-plus"></i> Add news</a>
            </div>

        </h2>
    </div>
</div>

<div class="row">
    @foreach (var news in Model.News)
    {
        <div class="col-md-4">
            <a href="@news.Url">
                @Html.Raw(news.Content.Replace("\n", "<br />"))
            </a>
        </div>
    }
</div>
