@model PagedList.IPagedList<PremierLeagueApp.Web.ViewModels.Home.NewsViewModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-lg-12">
        <h3>
            Latest News
            <div class="pull-right">
                @using (Ajax.BeginForm("Search", null, new AjaxOptions
                {
                    UpdateTargetId = "results",
                    InsertionMode = InsertionMode.Replace,
                    HttpMethod = "POST"
                }, new { id = "searchForm" }))
                {
                    <input class="form-control input-sm pull-right" placeholder="Search" maxlength="100" value="" name="query" oninput="changed()" />
                }
            </div>

            @if (User.Identity.IsAuthenticated)
            {
                <div class="pull-right">
                    <a class="btn btn-default btn-sm" href="/AddNews"><i class="glyphicon glyphicon-plus"></i> Add news</a>
                </div>
            }

        </h3>
    </div>
</div>

<div id="results">
    @Html.Partial("_NewsResult", Model)
</div>

@section scripts {
    <script src="~/Scripts/search.js"></script>
}